<!DOCTYPE html>
<html lang="en">
  <title>Maduscha / Parker Wedding</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="//use.typekit.net/fqa6ihb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" href="#">KJM / JWP Wedding <span class="mobile-date">8.23.2014</span></div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="to-top" href="#top">Home</a></li>
          <li><a href="#updates">Updates</a></li>
          <li><a href="#cast">Cast &amp; Crew</a></li>
          <li><a href="#backstory">Backstory</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      </div>
    </div>

   
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6" id="main-image">
           <img src="/images/main_image.png" class="img-responsive "  />
        </div>
        <div class="col-md-6 col-sm-6" id="main-header">
           <h1>8.23.2014<br/>Maduscha / Parker<br/>Wedding</h1>
           <img src="/images/christmas_trees.png" class="img-responsive"  />
        </div>
      </div>
      <a id="updates"></a>
      <div class="row">
        <div class="col-md-12">
          <h2>Updates</h2>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <p>Through all the planning we’re managing to enjoy a few glasses of wine. Have a drink with us and follow along with our wedding planning.</p>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="castle icon media-object pull-left"></div>
                <div class="media-body">Venue Booked!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="church icon media-object pull-left"></div>
                <div class="media-body">Booked the church!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">Photographer check!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="dress icon media-object pull-left"></div>
                <div class="media-body">Found the dress!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">We found the DJ!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">Engagement pictures done!</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <img src="/images/update_corks.png" class="img-responsive" /> 
        </div>
      </div>
      <a id="cast"></a>
      <div class="row cast-crew">
        <div class="col-md-12">
          <h2>Cast &amp; Crew</h2>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/jenny_jurss.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Jenny Jurss - Maid of Honor</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/greg_zamzow.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Greg Zamzow - Best Man</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/melissa_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Melissa Maduscha - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/alan_bradford.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Alan Bradford - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/stacy_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Stacy Maduscha - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/chris_uridel.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Chris Uridel - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/beth_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Beth Waldron - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/ben_currie.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Ben Currie - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/mara_schaefer.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Mara Schaefer - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/bruce_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Bruce Waldron - Usher</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/amy_papp.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Amy Papp - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/shawn.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Shawn Pecararo - Usher</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/bella_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Bella Maduscha - Junior Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/elliot_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Elliot Waldron - Junior Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/ethan_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Ethan Waldron - Junior Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/alex_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Alex Maduscha - Junior Groomsman</h3>
            </div>
          </div>
        </div>
      </div>
      <a id="backstory"></a>
      <div class="row backstory">
        <div class="col-md-12">
          <h2>Backstory</h2>
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script>

      $('.to-top').click(function(event){
        $('html,body').scrollTop(0);
      });

      $('.navbar-nav a').click(function(event){
        $('.navbar-nav li.active').removeClass('active');
        $(this).parent('li').addClass('active');
        $(".navbar-collapse").removeClass("in").addClass("collapse");
      });
      
    </script>
  </body>
</html>
  
