<!DOCTYPE html>
<html lang="en">
  <title>Maduscha / Parker Wedding</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Optional theme -->
    <meta property="og:site_name"content="Maduscha / Parker Wedding" />
    <meta property="og:url" content="http://www.maduschaparker.com" /> 
    <meta property="og:image"content="http://www.maduschaparker.com/images/main_image.png" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="//use.typekit.net/fqa6ihb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" href="#">KJM / JWP Wedding <span class="mobile-date">8.23.2014</span></div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="to-top" href="#top">Home</a></li>
          <li><a href="#information">Information</a></li>
          <li><a href="#information">Gift Registry</a></li>
          <li><a href="#updates">Updates</a></li>
          <li><a href="#cast">Cast &amp; Crew</a></li>
          <!--/<li><a href="#backstory">Backstory</a></li>-->
        </ul>
      </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6" id="main-image">
           <img src="/images/main_image.png" class="img-responsive "  />
        </div>
        <div class="col-md-6 col-sm-6" id="main-header">
           <h1>8.23.2014<br/>Maduscha / Parker<br/>Wedding</h1>
           <!--<img src="/images/christmas_trees.png" class="img-responsive"  />!-->
        </div>
      </div>
      <a id="information"></a>
      <div class="row">
          <div class="col-md-12">
            <h2>Information</h2>
            <p>Here's some general information to help you make it to our big day.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <h4><strong>Ceremony</strong></h4>
            <p>
            Immaculate Conception<br/>
            <em>Time: 1:00pm</em><br/>
            1023 E Russell Ave<br/>
            Milwaukee, WI 53207
            </p>
            <p><a target="_blank" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d2960!2d-87.8960433!3d42.9957223!4m12!2m11!1m10!1s0x0%3A0x85230ec9dee05fd9!3m8!1m3!1d186574!2d-87.96743!3d43.0578914!3m2!1i1024!2i768!4f13.1">View Map</a></p>
          </div>
          <div class="col-md-3">
            <h4><strong>Reception</strong></h4>
            <p>
            The Astor Hotel<br/>
            <em>Cocktail Hour @ 5:00pm</em><br/>
            <em>Dinner @ 6:00pm</em><br/>
            924 E Juneau Ave<br/>
            Milwaukee, WI 53202<br/>
            414-271-4220<br/>
            </p>

            <p> <a target="_blank" href="http://astormilwaukee.com">Website</a><br/><a target="_blank" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d2958!2d-87.9004047!3d43.0459735!4m12!2m11!1m10!1s0x0%3A0x7119a550f46d06a5!3m8!1m3!1d186574!2d-87.96743!3d43.0578914!3m2!1i1024!2i768!4f13.1">View Map</a></p>
          </div>
          <div class="col-md-6">
            <h4><strong>Accomodations</strong></h4>
            <p>We have a block of rooms reserved at The Astor Hotel under Maduscha/Parker. 
            If you're looking for alternative sleeping arrangements there is a Comfort Inn within a block of the Astor Hotel.</p>
            <div class="col-md-6">
              <p>
              <strong>The Astor Hotel</strong><br/>
              924 E Juneau Ave<br/>
              Milwaukee, WI 53202<br/>
              414-271-4220<br/>
              </p>

              <p> <a target="_blank" href="http://astormilwaukee.com">Website</a><br/><a target="_blank" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d2958!2d-87.9004047!3d43.0459735!4m12!2m11!1m10!1s0x0%3A0x7119a550f46d06a5!3m8!1m3!1d186574!2d-87.96743!3d43.0578914!3m2!1i1024!2i768!4f13.1">View Map</a></p>
            
            </div>
            <div class="col-md-6">
              <p>
              <strong>The Park East Hotel</strong><br/>
              916 E State St. <br/>
              Milwaukee, WI 53202<br/>
              (800) 328-7275<br/>
              </p>
              <p><a target="_blank" href="http://www.parkeasthotel.com">Website</a><br/><a target="_blank" href="https://www.google.com/maps/place/Park+East+Hotel/@43.044166,-87.900223,17z/data=!3m1!4b1!4m2!3m1!1s0x880519041efe0461:0x2c4bb3d5b4692b12">View Map</a></p>
            </div>
          </div>
      </div>
      <a id="registry"></a>
      <div class="row">
          <div class="col-md-12">
            <h2>Gift Registry</h2>
         
          </div>
      </div>
       <div class="row">
          <div class="col-md-3">
            <ul>
              <li><a href="http://www.myregistry.com/wedding-registry/kristin-maduscha-James-parker-Milwaukee-WI/609005">MyRegistry.com</a></li>
              <li><a href="http://www.crateandbarrel.com/Gift-Registry/Kristin-Maduscha-and-Jameson-Parker/r5166884">Crate &amp; Barrel</a></li>
              <li><a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541194122&pwsurl=">Bed Bath &amp; Beyond</a></li>
          </div>
      </div>
      <a id="updates"></a>
      <div class="row">
        <div class="col-md-12">
          <h2>Updates</h2>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <p>Through all the planning we’re managing to enjoy a few glasses of wine. Have a drink with us and follow along with our wedding planning.</p>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="castle icon media-object pull-left"></div>
                <div class="media-body">Venue Booked!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="church icon media-object pull-left"></div>
                <div class="media-body">Booked the church!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">Photographer check!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="dress icon media-object pull-left"></div>
                <div class="media-body">Found the dress!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">We found the DJ!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">Engagement pictures done!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="groom icon media-object pull-left"></div>
                <div class="media-body">Spiffy Tuxedos!</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="updates">
              <div class="media">
                <div class="default icon media-object pull-left"></div>
                <div class="media-body">Limo Booked!</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <img src="/images/update_corks.png" class="img-responsive" /> 
        </div>
      </div>
      <a id="cast"></a>
      <div class="row cast-crew">
        <div class="col-md-12">
          <h2>Cast &amp; Crew</h2>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/jenny_jurss.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Jenny Jurss - Maid of Honor</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/greg_zamzow.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Greg Zamzow - Best Man</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/melissa_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Melissa Maduscha - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/alan_bradford.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Alan Bradford - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/stacy_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Stacy Maduscha - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/chris_uridel.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Chris Uridel - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/beth_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Beth Waldron - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/ben_currie.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Ben Currie - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/mara_schaefer.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Mara Schaefer - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/mike_peroff.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Mike Peroff - Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/amy_papp.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Amy Papp - Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/bruce_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Bruce Waldron - Usher</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/bella_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Bella Maduscha - Junior Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/shawn.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Shawn Pecararo - Usher</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/sarah_hansen.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Sarah Hansen - Junior Bridesmaid</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/elliot_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Elliot Waldron - Junior Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/ethan_waldron.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Ethan Waldron - Junior Groomsman</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-6 col-sm-6">
          <div class="media">
            <img src="/images/alex_maduscha.png" width="135" height="208" class="pull-left media-object" />
            <div class="media-body">
              <h3>Alex Maduscha - Ring Bearer</h3>
            </div>
          </div>
        </div>
      </div>
      <!--
      <a id="backstory"></a>
      <div class="row backstory">
        <div class="col-md-12">
          <h2>Backstory</h2>
        </div>
      </div>
      -->
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script>

      $('.to-top').click(function(event){
        $('html,body').scrollTop(0);
      });

      $('.navbar-nav a').click(function(event){
        $('.navbar-nav li.active').removeClass('active');
        $(this).parent('li').addClass('active');
        $(".navbar-collapse").removeClass("in").addClass("collapse");
      });
      
    </script>
  </body>
</html>
  
